@model NectimaLogging.Services.Chart.ExceptionChartStart
@{
    ViewData["Title"] = "Index";
}

<div id="dashboard-grid-container">


    <div id="line-container">

        <canvas id="line-chart"></canvas>

        <form id="prev-btn" method="post" asp-action="Index" role="form">

            <input id="week" type="submit" value="prev" />
            <input name="isPrev" type="hidden" value="true" checked />
            <input id="prev-week" name="prevWeek" type="hidden" value="@Model.MyCounter" />



        </form>
        <form id="next-btn" method="post" asp-action="Index" role="form">

            <input type="submit" value="next" />
            <input name="isNext" type="hidden" value="true" checked />
            <input id="prev-week" name="prevWeek" type="hidden" value="@Model.MyCounter" />
        </form>
    </div>


    <div id="doughnut-container">
        <canvas id="doughnut-chart"></canvas>
    </div>

    <div id="bar-container">
        <canvas id="bar-chart"></canvas>
    </div>


    <script>
     
        var myLabel = @Html.Raw(Json.Serialize(@Model.ThreadName()));
         var myData = @Html.Raw(Json.Serialize(@Model.ThreadCount()));
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: myLabel,
            datasets: [
                {
                    label: "(df)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: myData,
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'kewl'
            }
        }
    });






        var oilCanvas = document.getElementById("doughnut-chart");

        var oilData = {
            labels: [
                "Debug",
                "Error",
                "Fatal",
                "Info",
                "Off",
                "Warn"
            ],
            datasets: [
                {
                    data: ['@ViewData["Debug"]', '@ViewData["Error"]', '@ViewData["Fatal"]',
                        '@ViewData["Info"]', '@ViewData["Off"]','@ViewData["Warn"]'],
                    backgroundColor: [
                        "#F3525C",
                        "#00674C",
                        "#95B23A",
                        "#FCCE44",
                        "#F57F4F"
                    ]
                }]
        };

        var pieChart = new Chart(oilCanvas, {
            type: 'doughnut',
            data: oilData
        });


    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: ['@Model.Create().ElementAt(0).Date', '@Model.Create().ElementAt(1).Date', '@Model.Create().ElementAt(2).Date', '@Model.Create().ElementAt(3).Date',
                    '@Model.Create().ElementAt(4).Date','@Model.Create().ElementAt(5).Date','@Model.Create().ElementAt(6).Date','@Model.Create().ElementAt(7).Date',],
            datasets: [{
                data: ['@Model.Create().ElementAt(0).AmountOfExceptions','@Model.Create().ElementAt(1).AmountOfExceptions','@Model.Create().ElementAt(2).AmountOfExceptions',
                        '@Model.Create().ElementAt(3).AmountOfExceptions','@Model.Create().ElementAt(4).AmountOfExceptions','@Model.Create().ElementAt(5).AmountOfExceptions',
                   '@Model.Create().ElementAt(6).AmountOfExceptions','@Model.Create().ElementAt(7).AmountOfExceptions',],
                label: "Exceptions",
                borderColor: "#3e95cd",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Amount of Exceptions'
            }
        }
    });
    </script>
