@model NectimaLogging.Services.Chart.ExceptionChartStart
    @{
        ViewData["Title"] = "Index";
    }

    <div id="dashboard-grid-container">
        <div id="line-container">
            <canvas id="line-chart" width="400" height="400"></canvas>
            <form method="post" asp-action="Index" role="form">

                <input id="week" type="submit" value="prev" />
                <input name="isPrev" type="hidden" value="true" checked />
                <input id="prev-week" name="prevWeek"  type="hidden"value="@Model.MyCounter" />
              
              

            </form>
            <form method="post" asp-action="Index" role="form">

                <input type="submit" value="next" />
                <input name="isNext" type="hidden" value="true" checked />
                <input id="prev-week" name="prevWeek" type="hidden" value="@Model.MyCounter" />

            </form>


        </div>
    </div>
   

    <script>
        //var counter = 0;
        //document.getElementById('week').addEventListener('click', function (e) {
        //    counter += 7;
           
        //    window.onload = function () {
        //        document.getElementById('prev-week').value = "hej";
        //        e.preventDefault();

        //    };
           
           
           
           
        //});
       

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: ['@Model.Start().ElementAt(0).Date', '@Model.Start().ElementAt(1).Date', '@Model.Start().ElementAt(2).Date', '@Model.Start().ElementAt(3).Date',
                    '@Model.Start().ElementAt(4).Date','@Model.Start().ElementAt(5).Date','@Model.Start().ElementAt(6).Date','@Model.Start().ElementAt(7).Date',],
            datasets: [{
                data: ['@Model.Start().ElementAt(0).AmountOfExceptions','@Model.Start().ElementAt(1).AmountOfExceptions','@Model.Start().ElementAt(2).AmountOfExceptions',
                        '@Model.Start().ElementAt(3).AmountOfExceptions','@Model.Start().ElementAt(4).AmountOfExceptions','@Model.Start().ElementAt(5).AmountOfExceptions',
                   '@Model.Start().ElementAt(6).AmountOfExceptions','@Model.Start().ElementAt(7).AmountOfExceptions',],
                label: "Exceptions",
                borderColor: "#3e95cd",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Amount of Exceptions'
            }
        }
    });
    </script>
