@model LogListViewModel

@{
    ViewData["Title"] = "ResultAllLogs";
}
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    var isActiveController = new Func<string, string, string, string, string>((ctrl, act, activeStyle, inactiveStyle) => controller == ctrl && action == act ? activeStyle : inactiveStyle);
}



<div class="all-log-container">
    <div id="log-container">
        <table class="table table-sm">
            <thead id="table-head">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Level</th>
                    <th scope="col">Exception</th>
                    <th scope="col">Thread</th>
                    <th scope="col">StackTrace</th>
                    <th scope="col">Message</th>
                    <th scope="col">MachineName</th>
                    <th scope="col">Logger</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var log in Model.Logs)
                {

                    <tr>
                        <td>

                            @log.Id
                            <form id="select-log-detail" asp-controller="Details" asp-action="Index"
                                  method="post" role="form">
                                <button type="submit" name="id" value="@log.Id">
                                    details
                                </button>
                            </form>
                        </td>
                        <td>
                            @log.Date
                        </td>
                        <td>
                            @log.Level
                        </td>
                        <td>
                            @log.Exception
                        </td>
                        <td>
                            @log.Thread
                        </td>
                        <td>
                            @log.StackTrace
                        </td>
                        <td>
                            @log.Message
                        </td>
                        <td>
                            @log.MachineName
                        </td>
                        <td>
                            @log.Logger
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
    <p>@Model.PagingInfo.CurrentPage / @Model.PagingInfo.TotalPages</p>


    <div class="btn-container">
        <div id="navigation-btn-container">
            <div class="prev btn">
                <form method="post" asp-action="ResultAllLogs" role="form">
                    <input asp-for="@Model.PagingInfo.IsPrevious"
                           name="isPrevious" type="hidden" value="true" checked />
                    <input type="hidden" name="previous" value="@Model.PagingInfo.CurrentPage" />
                    <input type="hidden" name="addP" value="@Model.PagingInfo.AddMorePages" />
                    <input class="next-prev" type="submit" value="<<" />
                </form>

            </div>
            @if (Model.PagingInfo.AddMorePages == 1 || Model.PagingInfo.CurrentPage <= 9)
            {

                @for (int ii = Model.PagingInfo.CurrentPage - 9; ii < 11; ii++)
                {
                    if (ii <= 0)
                    {
                        ii = 1;

                    }
                    <div class="btn active">
                        <a asp-action="ResultAllLogs"
                           asp-route-logPage="@ii">@ii</a>
                        @if (Model.PagingInfo.CurrentPage == ii)
                        {
                            <p class="current">@Model.PagingInfo.CurrentPage</p>

                        }

                    </div>
                }
            }

            @if (Model.PagingInfo.CurrentPage > (Model.PagingInfo.CurrentPage - 1) && Model.PagingInfo.CurrentPage >= 10)
            {
                @for (int iii = Model.PagingInfo.CurrentPage - 5; iii < Model.PagingInfo.AddMorePages + 5; iii++)
                {
                    <div class="btn active">
                        <a asp-action="ResultAllLogs"
                           asp-route-logPage="@iii">@iii</a>

                        @if (Model.PagingInfo.CurrentPage == iii)
                        {
                            <p class="current">@Model.PagingInfo.CurrentPage</p>

                        }
                    </div>
                }

            }
            <div class="btn">
                <form method="post" asp-action="ResultAllLogs" role="form">
                    <input asp-for="@Model.PagingInfo.IsNext"
                           name="isNext" type="hidden" value="true" checked />
                    <input type="hidden" name="next" value="@Model.PagingInfo.CurrentPage" />
                    <input type="hidden" name="addP" value="@Model.PagingInfo.AddMorePages" />
                    <input class="next-prev" type="submit" value=">>" />
                </form>
            </div>
        </div>
        @*@if (Model.PagingInfo.CurrentPage % 10 == 0)
            {

                @for (int i = Model.PagingInfo.CurrentPage - 5; i < Model.PagingInfo.AddMorePages + 5; i++)
                {
                    <div class="btn active">
                        <a asp-action="ResultAllLogs"
                           asp-route-logPage="@i">@i</a>
                        @if (Model.PagingInfo.CurrentPage == i)
                        {
                            <p class="current">@Model.PagingInfo.CurrentPage</p>

                        }
                    </div>

                }

            }*@
        @*@for (int i = 1; i <= Model.PagingInfo.AddMorePages; i++)
            {
                if (Model.PagingInfo.AddMorePages < 10 && i > 1)
                {

                    for (int k = Model.PagingInfo.CurrentPage; k < Model.PagingInfo.AddMorePages + 10; k++)
                    {
                        @k
                    }

                }

                <div class="btn active">
                    <a asp-action="ResultAllLogs"
                       asp-route-logPage="@i">@i</a>


                    @if (Model.PagingInfo.CurrentPage == i)
                    {
                        <p class="current">@Model.PagingInfo.CurrentPage</p>

                    }

                </div>

            }
            @if (Model.PagingInfo.CurrentPage % 10 == 0)
            {

                for (int j = Model.PagingInfo.CurrentPage + 1; j < Model.PagingInfo.AddMorePages + 10; j++)
                {
                    <a asp-action="ResultAllLogs"
                       asp-route-logPage="@j">@j</a>
                }
            }*@

    </div>
</div>







