@model LogEntry
@{
    ViewData["Title"] = "SearchResult";
}
<div class="all-log-container">
    <div id="log-container">
        <table class="table table-sm">
            <thead id="table-head">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Level</th>
                    <th scope="col">Exception</th>
                    <th scope="col">Thread</th>
                    <th scope="col">StackTrace</th>
                    <th scope="col">Message</th>
                    <th scope="col">MachineName</th>
                    <th scope="col">Logger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                
                    <tr>
                        <th scope="row">
                            @Model.Id
                            <form id="select-log-detail" asp-controller="Details" asp-action="Index"
                                  method="post" role="form">
                                <button type="submit" name="id" value="@Model.Id">
                                    details
                                </button>
                            </form>
                        </th>
                        <td>
                            @Model.Date
                        </td>
                        <td>
                            @Model.Level
                        </td>
                        <td>
                            @Model.Exception
                        </td>
                        <td>
                            @Model.Thread
                        </td>
                        <td>
                            @Model.StackTrace
                        </td>
                        <td>
                            @Model.Message
                        </td>
                        <td>
                            @Model.MachineName
                        </td>
                        <td>
                            @Model.Logger
                        </td>
                    </tr>
                
            </tbody>
        </table>
    </div>
    </div>
    @*<div class="table-responsive">
        <table class="table table-sm table-striped table-striped table-bordered table-condensed ">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Level</th>
                    <th scope="col">Exception</th>
                    <th scope="col">Thread</th>
                    <th scope="col">StackTrace</th>
                    <th scope="col">Message</th>
                    <th scope="col">MachineName</th>
                    <th scope="col">Logger</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Model.Id</th>
                    <td>@Model.Date</td>
                    <td>@Model.Level</td>
                    <td>@Model.Exception</td>
                    <td>@Model.Thread</td>
                    <td>@Model.StackTrace</td>
                    <td>@Model.Message</td>
                    <td>@Model.MachineName</td>
                    <td>@Model.Logger</td>
                </tr>
            </tbody>
        </table>
    </div>*@
